<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>Job Management System</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
              crossorigin="anonymous"/>
    </head>
    <body id="page-top">

        <!-- Navigation -->

        <nav style=" "class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="departments">departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="contact">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>        




        <div class="container" style="margin-top: 100px">
            <h2>Here you can browse all the departments</h2>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action ">Learning & Teaching Center</a>
                <a href="#" class="list-group-item list-group-item-action">Office Assistant</a>
                <a href="#" class="list-group-item list-group-item-action"> Recreation Center </a>
                <a href="/dining" class="list-group-item list-group-item-action">Campus Dining</a>
                <a href="#" class="list-group-item list-group-item-action ">Technical Support Assistant </a>
                <a href="#" class="list-group-item list-group-item-action ">Graduate Assistant </a>
                <a href="#" class="list-group-item list-group-item-action ">Teaching Assistant </a>
            </div>

        </div>



    </body>
</html>
